body {
    margin: 0 auto;
    font-family: Verdana;
    background-color: #fbd1a2;

}

/* ------ Header ------ */

header {
    background-image: url("../assets/assets/italie.jpg");
    background-size: cover;
    text-align: center;
    padding: 1px 0;
}


/* ------ Formulier ------ */

main {
    padding-top: 50px;
}

.box {
    margin: 0 auto;
    border: 1px solid black;
    width: 60%;
    background-color: beige;
    padding: 10px;
}

